*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body{
    background: #EBEBEB;
}

.left-fixed-right-auto{
    width: 100%;
    clear: both;
    display: block;        
}

.left {   
    /*border: solid 1px #CCC; */
    float: left;
    width: 200px; 
    min-height: 90%;
    background: #FFF;
}

.content-container {
    /*border: solid 1px #CCC;*/
    min-height: 80%;    
    background: #FFF;    
    margin-left: 220px;
    margin-top: 12px;
    margin-right: 12px; 
    padding: 12px;                  
}

.overlay-center {
    border: 1px solid #999;
    background: #333;
    padding: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    opacity: 0.7
}

.overlay-center .text {
    margin-left: 8px;
    margin-top: -4px;
    line-height: 60px;
    color: #FFF;
    font-size: 24px;
}


/*.next-navigation a, .next-navigation a:hover, .next-navigation a:link, .next-navigation a:visited{
    color: #FFF;
}*/


/*覆盖qnui*/

.qn-loading-inline {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.qn-loading-inline-large {
    width: 40px;
    height: 40px;
}
